.container {
  height: 500px;
  width: 500px;
  background-color: rgb(176, 183, 183);
  display: flex;
  justify-content: flex-end;
  /* flex-direction: row-reverse;*/
  /* flex-wrap: wrap-reverse; */
}
.container div {
  height: 100px;
  width: 100px;
}
#div1 {
  background-color: aqua;
}
#div2 {
  background-color: red;
}
#div3 {
  background-color: #65a7ed;
}
/* #div3 {
  background-color: chocolate;
}
#div4 {
  background-color: chartreuse;
} */
