body {
  font-family: sans-serif;
}
.article-header {
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
}
article {
  border: 3px solid black;
}
#more-info {
  color: black;
}
#more-info:hover {
  text-decoration: none;
}
#cartbtn {
  background-color: black;
  text-transform: uppercase;
  color: antiquewhite;
  cursor: pointer;
}
#cartbtn:hover {
  background-color: white;
  color: black;
  border: 0px;
}
